.contact-root {
  margin: 1% 15%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .contact-root {
    margin: 5px;
    flex-direction: column-reverse;
  }
  .contact-root-left-panel {
    width: 100% !important;
  }
  .contact-root-right-panel {
    width: 100% !important;
  }
}
@media screen and (max-width: 1200px) {
  .contact-root {
    margin: 1% 5%;
  }
}

.contact-root-left-panel {
  width: 70%;
}
.contact-root-right-panel {
  width: 30%;
}

.stats {
  background-color: white;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 10px;
  border: solid 1px #ccc;
  padding: 5%;
  margin: 5%;
}

.add-contact {
  border: 0;
  outline: none;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #278ae7;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
  cursor: pointer;
  border: solid 1px #278ae7;
}
