.contact-root {
  margin: 1% 15%;
  display: flex;
  justify-content: center;
}

.stats {
  background-color: white;
  box-shadow: 5px 5px 5px #ccc;
  border-radius: 10px;
  border: solid 1px #ccc;
  padding: 5%;
  margin: 5%;
}
